.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

button{
  color: white;
  background-color: coral;
  font-size: 30px;
}