
.App {
  text-align: center;
}

#bar{
  background-color: black;
  padding-top: 6px;
  padding-bottom: 10px;
  font-size: 23px;
  color: #99FF99;
  padding-inline: 15px;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

button{
  /*color: white;*/
  /*background-color: #f39237;*/
  padding-inline: 5px;
  font-size: 30px;
}

.slidecontainer {
  width: 65%; /* Width of the outside container */
  padding-top: 20px;
  font-size: 40px;
  position: relative;
  left: 18%;
  text-align: center;
  color: #FF99FF;
}

canvas {
  background-color: white;
  width: 900px;
  height:600px;
  padding-top: 65px;
}

#sandbox{
  padding-top: 70px;
  background-image: linear-gradient(#3366CC,#339999,#330066);
  padding-bottom: 65px;
}

Footer{
  padding-bottom: 15px;
  position: absolute;
  bottom: 80%;
}

#title{
  text-align: center;
  font-size: 55px;
}

#descriptor{
  position: absolute;
  padding: 15px;
}
